/*------------------------------------------------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
}

/*------------------------------------------------------------------------------------------------------*/
nav {
  position: fixed;
  background-color: transparent;
}

nav li {
  padding: 0 15px;
}

/*------------------------------------------------------------------------------------------------------*/
.bg {
  background-color: #8FB5CB;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.content {
  border-radius: 20px;
  -webkit-box-shadow: 2px 0 15px 0;
          box-shadow: 2px 0 15px 0;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px 30px;
  min-height: 500px;
  /*img animations:*/
}

.content .fa-cart-arrow-down {
  position: relative;
  top: 10px;
  cursor: pointer;
}

.content h1 {
  font-family: hadasimclm;
  font-size: 45px;
}

.content p {
  margin-top: 15px;
}

.content pre {
  font-family: inherit;
  font-size: inherit;
}

.content .understandImg {
  position: relative;
  height: 80px;
  margin-top: 20px;
}

.content .understandBtn {
  margin-right: 100px;
}

.content .spinImg {
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}

.content .content1 {
  padding: 0 50px;
  margin: 0 30px;
  border-right: 1px solid #A9A9A9;
  border-left: 1px solid #A9A9A9;
}

.content #img1 {
  margin-right: 80px;
  position: relative;
  bottom: 10px;
}

.content .questions {
  position: relative;
  right: 100px;
  bottom: 20px;
  border-right: 3px solid black;
  padding-right: 30px;
}

.content .questions h6 {
  position: relative;
  left: 15px;
}

.content .answer1, .content .answer2 {
  display: inline;
}

.content .content1Btn {
  padding-right: 40px;
}

.content .content2Btn {
  padding-right: 40px;
}

.content .content3Btn {
  padding-right: 40px;
}

.content .content4Btn {
  margin-right: 420px;
}

/*------------------------------------------------------------------------------------------------------*/
footer {
  background-color: #383838;
  height: 180px;
  overflow-x: hidden;
  overflow-y: hidden;
}

footer #contactDetails {
  position: relative;
  top: 30px;
}

footer #contactDetails #envelopeSymbol {
  color: white;
}

footer #contactDetails #phoneSymbol {
  color: white;
  position: relative;
  bottom: 20px;
}

footer #contactDetails p {
  font-size: 20px;
  position: relative;
  left: 100px;
  bottom: 25px;
}

footer #copyRight {
  color: white;
  position: relative;
  left: 570px;
  top: 150px;
}

footer #copyRight p {
  position: relative;
  left: 25px;
  bottom: 17px;
}
/*# sourceMappingURL=inequation.css.map */