@import "mixins";
@import "variables";
/*------------------------------------------------------------------------------------------------------*/

*{
  @include total;
}

/*------------------------------------------------------------------------------------------------------*/

nav{
  @include navbar;
}

/*------------------------------------------------------------------------------------------------------*/

#searchResult{
  @include searchResult;
}

#searchLine{
  @include searchLine;
}

/*------------------------------------------------------------------------------------------------------*/

.content{
    min-height: 400px;
    padding-top: 50px;
    
    .item{
        text-align: right;
        position: relative;
        right: 270px;
        // margin-right:50px;
    }

    .removeBtn{
        position: relative;
        left: 20px;
    }
}


/*------------------------------------------------------------------------------------------------------*/

footer{
  @include footer;
}

