@import "mixins";
@import "variables";
/*------------------------------------------------------------------------------------------------------*/

@font-face {
  font-family: hadasimclm;
  src: url("/fonts/hadasimclm/hadasimclm-regularoblique-webfont.ttf");
}

/*------------------------------------------------------------------------------------------------------*/

*{
  @include total;
}

/*------------------------------------------------------------------------------------------------------*/

nav{
  @include navbar;
}

/*------------------------------------------------------------------------------------------------------*/

#coverImg{
  height: 500px;
  background-image: url("../img/math6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -100px;
  overflow-x: hidden;
}

#headline{
  position: relative;
  left: 650px;
  top: 280px;
  color: white;
  h1{
    font-family: hadasimclm;
    font-size: 70px;
    border-bottom: 5px solid $color-primary-1;

    #understand{
      font-size: 110px;
    }

    #math{
      color: $color-primary-4;
      // color: 	#D3D3D3;
      // color: black;
    }
  }
}

#chapters{

  .card{
    margin: 40px 40px;

    img{
      height: 170px;
      padding-top: 10px;
    }

  }
}


/*------------------------------------------------------------------------------------------------------*/

footer{
  @include footer;
}

