$color-primary-0: #B6864B;	// Main Primary color */
$color-primary-1: #FFDBAE;
$color-primary-2: #F2C389;
$color-primary-3: #845926;
$color-primary-4: #4B2E0B;

$color-secondary-1-0: #B6994B;	// Main Secondary color (1) */
$color-secondary-1-1: #FFE9AE;
$color-secondary-1-2: #F2D689;
$color-secondary-1-3: #846B26;
$color-secondary-1-4: #4B3A0B;

$color-secondary-2-0: #3E437E;	// Main Secondary color (2) */
$color-secondary-2-1: #9A9ED3;
$color-secondary-2-2: #696DA8;
$color-secondary-2-3: #23275B;
$color-secondary-2-4: #0E1134;

$color-complement-0: #345C74;	// Main Complement color */
$color-complement-1: #8FB5CB;
$color-complement-2: #5B839A;
$color-complement-3: #1B3F54;
$color-complement-4: #092130;

/*------------------------------------------------------------------------------------------------------*/

@font-face {
  font-family: hadasimclm;
  src: url("/fonts/hadasimclm/hadasimclm-regularoblique-webfont.ttf");
}

/*------------------------------------------------------------------------------------------------------*/

*{
  padding: 0;
  margin: 0;
}

/*------------------------------------------------------------------------------------------------------*/

nav{
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  li{
    padding: 0 15px;
  }
}

#coverImg{
  height: 500px;
  background-image: url("../img/math6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -100px;
  overflow-x: hidden;
}

#headline{
  position: relative;
  left: 650px;
  top: 280px;
  color: white;
  h1{
    font-family: hadasimclm;
    font-size: 70px;
    border-bottom: 5px solid $color-primary-1;
  }
}

#chapters{

  .card{
    margin: 40px 40px;

    img{
      height: 170px;
      padding-top: 10px;
    }

  }
}

footer{

  background-color: #383838;
  height: 250px;
  overflow-x: hidden;
  overflow-y: hidden;

  i{
    color: white;
  }

  #contactDetails{
    position: relative;
    top: 30px;
    i{
      margin: 0px 0px;
      p{
        font-size: 25px;
        position: relative;
        left: 100px;
        bottom: 40px;
      }
    }
  }

  #copyRight{
    color: white;
    position: absolute;
    left: 600px;
    bottom: -800px;
  }

}

