@import "mixins";
@import "variables";
/*------------------------------------------------------------------------------------------------------*/

@font-face {
  font-family: hadasimclm;
  src: url("../fonts/hadasimclm/hadasimclm-regular-webfont.ttf");
}

/*------------------------------------------------------------------------------------------------------*/

*{
  @include total;
}

/*------------------------------------------------------------------------------------------------------*/

nav{
  @include navbar;
  border-bottom: 1px solid gray;
}

/*------------------------------------------------------------------------------------------------------*/

#searchResult{
    @include searchResult;
}

#searchLine{
    @include searchLine;
}
  
/*------------------------------------------------------------------------------------------------------*/

#contact{
    background-color: lighten($color-secondary-1-1, 10%);
    // background-color: lighten(#800, 2%);

    h1{
        color: lighten(black, 15%);
        font-family: hadasimclm;
        font-size: 60px;
        padding-top:50px;
        border-bottom: 3px solid lighten(black, 15%);
        width: 200px;
    }
    
    form{
        margin-top: 15px;
        margin-right: 60px;
        padding-bottom: 100px;
        
        textarea{
            height: 200px;
        }
    }

    .frame{
        box-shadow: 1px 0 2px 0;
    }
}

/*------------------------------------------------------------------------------------------------------*/

object{
    height: 120px;
  }