@import "mixins";
@import "variables";
/*------------------------------------------------------------------------------------------------------*/


@font-face {
  font-family: shuneet;
  src: url("../fonts/shuneet/shuneet_bold_v2.otf");
}

/*------------------------------------------------------------------------------------------------------*/

*{
  @include total;
}

/*------------------------------------------------------------------------------------------------------*/

nav{
  @include navbar;
}

/*------------------------------------------------------------------------------------------------------*/

#searchResult{
  @include searchResult;
}

#searchLine{
  @include searchLine;
}

/*------------------------------------------------------------------------------------------------------*/

#coverImg{
  min-height: 500px;
  background-image: url("../img/math6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -100px;
  overflow-x: hidden;

  #headline{
    position: relative;
    left: 650px;
    top: 100px;
    color: white;
    h1{
      font-family: hadasimclm;
      font-size: 70px;
      border-bottom: 5px solid $color-primary-1;
  
      #understand{
        font-size: 110px;
      }
  
      #math{
        color: $color-primary-4;
      }
    }
  }

  #contact{
    position: absolute;
    top: 440px;
    width: 600px;
    color: $color-primary-4;
    font-family: Comic Sans MS, Comic Sans, cursive;
    border-top: 5px solid $color-primary-1;
    padding-top: 10px;
  }
}



#chapters{

  .card{
    margin: 40px auto;

    img{
      height: 170px;
      padding-top: 10px;
    }

  }

}

object{
  height: 120px;
  margin-bottom: -6px;
}