@import "mixins";
@import "variables";

/*------------------------------------------------------------------------------------------------------*/

*{
  @include total;
}

/*------------------------------------------------------------------------------------------------------*/

nav{
  @include navbar;
}

/*------------------------------------------------------------------------------------------------------*/

#searchResult{
  @include searchResult;
}

#searchLine{
  @include searchLine;
}

/*------------------------------------------------------------------------------------------------------*/

.bg{
  background-color: $color-complement-1;
  border-top: 1px solid $color-complement-1;
  border-bottom: 1px solid $color-complement-1;
}

.content{

  @include content;

  min-height: 100vh;

  .content1, .content2{
    @include section;
  }

  table{
    td{
      padding: 5px 20px;
    }
  }

  .questions{
    @include questions;

    p{
      width: 90%;
    }
  }

  .content1Btn{
    padding-right: 40px;
  }
  .content2Btn{
    padding-right: 40px;
  }
  .content3Btn{
    padding-right: 40px;
    padding-bottom: 70px;
  }

  position: relative;

  .content4Btn{
    margin-right: 380px;
  
    position: absolute;
    bottom: 70px;
  }

  .shoppingBtn{
    margin-right: 550px;

    position: absolute;
    bottom: 70px;
  }
}


/*------------------------------------------------------------------------------------------------------*/

object{
  position: absolute;
}



