<!DOCTYPE html>
<html>
<head>

    <title>About</title>
    <link rel="stylesheet" type="text/css" href="../css/about.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/fontawesome/css/all.css">
    <link rel="shortcut icon" href="../img/favicon.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light row">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" id="searchLine" type="search" placeholder="חיפוש" aria-label="Search" dir="rtl">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="shoppingCart.html"><i class="fas fa-2x fa-cart-arrow-down"></i></a>
                        </li>
                        <li class="nav-item">
                            <div class="items"><strong><span class="itemsNum"></span></strong></div>
                        </li>
                    </ul>
                </form>
            </div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">צרו קשר</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dir="rtl">
                        נושאים
                        </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-right" href="inequation.html">אי שוויון עם ערך מוחלט</a>
                        <a class="dropdown-item text-right" href="wordProblems.html">בעיות מילוליות</a>
                        <a class="dropdown-item text-right" href="induction.html">אינדוקציה מתמטית</a>
                        <a class="dropdown-item text-right" href="calculus.html">חשבון דיפרנציאלי ואינטגרלי</a>
                        <a class="dropdown-item text-right" href="trig.html">טריגונומטריה</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="about.html">אודות<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">דף הבית</span></a>
                </li>
            </ul>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>

    <div class="container text-right" id="searchResult"></div>

    <div class="bg">
        <div class="container text-right content" dir="rtl">

            <p><u>לכל המלמדים</u>, (וגם ללומדים)</p>

            <br>

            <p><strong><u>מה תרוויחו מהוראה בעזרת האתר</u>?</strong></p>

            <br>

            <p>א. <strong><u>ראיית התלמיד כלומד אחראי </u></strong></p>

            <div class="row details">
                <div class="col-md-4">
                    <p><strong>שחרור התלמיד מהתלות המוחלטת במורה </strong></p>
                </div>
                <div class="col-md-8">
                    <p>מעתה התלמיד יכול לחזור על החומר הנלמד ולא רק להישען על מה שהצליח לקלוט בכיתה.</p>
                </div>
            </div>

            <div class="row details">
                <div class="col-md-4">
                    <p><strong>עבודת בית משמעותית </strong></p>
                </div>
                <div class="col-md-8">
                    <p>מעתה ניתן לבקש מתלמידים לא רק לפתור תרגילים שכבר נלמדו, אלא אף להכין את הקרקע לנושא שעדיין לא נלמד בכיתה.</p>
                </div>
            </div>

            <div class="row details">
                <div class="col-md-4">
                    <p><strong>בניית הביטחון העצמי של התלמיד </strong></p>
                </div>
                <div class="col-md-8">
                    <p>ההצלחה להפוך ללומד עצמאי ואחראי מעצימה את הביטחון העצמי של התלמיד.</p>
                </div>
            </div>

            <div class="row details">
                <div class="col-md-4">
                    <p><strong>יכולת השלמת חומר באופן עצמאי </strong></p>
                </div>
                <div class="col-md-8">
                    <p>מעתה התלמיד יכול להישען על האתר כמקור מידע, כך שאם נעדר משיעור או מרצף שיעורים, יוכל להשלים את החסר באופן עצמאי.</p>
                </div>
            </div>

            <div class="row details">
                <div class="col-md-4">
                    <p><strong>אפשרויות גיוון למידה </strong></p>
                </div>
                <div class="col-md-8">
                    <p>מעתה ניתן גם במתמטיקה לגוון את שיטות ההוראה ע"י תלמידים המלמדים תלמידים.  </p>
                </div>
            </div>

            <br>
            

            <p>ב. <strong><u>חיסכון בזמן </u></strong></p>

            <div class="row details">
                <div class="col-md-4">
                    <p><strong>הֶספק רב יותר  </strong></p>
                </div>
                <div class="col-md-8">
                    <p>חלק מהטכניקות הנלמדות בכיתה, יכולות להילמד באופן עצמאי כשיעורי בית.</p>
                </div>
            </div>

            <div class="row details">
                <div class="col-md-4">
                    <p><strong>עמידה בתכנית הלימודים</strong></p>
                </div>
                <div class="col-md-8">
                    <p>עבודה עצמית גדולה יותר מאפשרת לימוד החומר כולו.</p>
                </div>
            </div>

            <div class="row details">
                <div class="col-md-4">
                    <p><strong>הדגשת נושאים מורכבים והעמקת ידע</strong></p>
                </div>
                <div class="col-md-8">
                    <p>מעתה ניתן לפנות זמן רב יותר לעיסוק בנושאים אינטגרטיביים ופחות בטכניקות בסיסיות.</p>
                </div>
            </div>

            <br>

            <p>ג. <strong><u>מעגלי למידה </u></strong></p>

            <div class="details">
                <p>באתר תמצאו מעגלי למידה בכל נושא. </p>
                <p>"בדיקת הבנה" לרמת הבנה בסיסית,</p>
                <p>"תרגול עצמי" ליישום ההבנה בתת נושא,</p>
                <p>"תרגול כללי" לשאלות אינטגרטיביות על נושא מורחב. שאלות אלה נלקחו רובן ככולן מבחינות בגרות.</p>

                <br>

                <p>אני מאמין שיש מקום להפריד בין לימוד הנושא לבין ההכנה למבחן הסופי. לדעתי, <strong>רצוי מאוד לסיים את לימוד כל הנושאים כחודשיים לפני מועד הבגרות</strong>. את הזמן הנותר יש להקדיש לחזרה אינטנסיבית על פי מיקוד החומר המתפרסם בכל שנה. </p>
            </div>

            <br>

            <p>ד. <strong><u>ניהול זמן </u></strong></p>

            <div class="details">
               
                <p>כדי להספיק את כל החומר בשנה אחת אני ממליץ על לוח הזמנים הבא:</p>

                <table>
                    <tr class="text-center">
                        <td class="text-center">נושא</td>
                        <td class="text-center">מס' שעות</td>
                    </tr>
                    <tr class="text-center">
                        <td class="text-center">טכניקה אלגברית</td>
                        <td class="text-center">5</td>
                    </tr>
                    <tr class="text-center">
                        <td class="text-center">בעיות מילוליות</td>
                        <td class="text-center">10</td>
                    </tr>
                    <tr class="text-center">
                        <td class="text-center">אינדוקציה</td>
                        <td class="text-center">15</td>
                    </tr>
                    <tr class="text-center">
                        <td class="text-center">חדו"א</td>
                        <td class="text-center">40</td>
                    </tr>
                    <tr class="text-center">
                        <td class="text-center">טריגונומטריה</td>
                        <td class="text-center">40</td>
                    </tr>
                    <tr class="text-center">
                        <td class="text-center">סה"כ</td>
                        <td class="text-center">110</td>
                    </tr>
                </table>

                <p>את יתרת השעות כדאי להשקיע בהכנה למבחן.</p>
                
                <p>עשרים שנות הוראה למדוני כי <strong><u>חשוב מאוד לשמור על מסגרת שעות זו</u></strong>  גם אם אין מספיקים ללמד את כל סגנונות התרגילים, וגם אם אין כל התלמידים מסוגלים להתמודד עם שאלות ברמת בגרות במהלך הלמידה הראשונית. ישנו אחוז גבוה של לומדים שזמן הפנמתם את החומר ארוך יותר. בזמן ההכנה למבחן הם עצמם יחושו שהדברים "קלים" הרבה יותר מאשר כשהנושא נלמד. </p>
            </div>

            <br>

            <p>ה. <strong><u>הדרכה </u></strong></p>

            <div class="details">
                
                <p>בחלק מהנושאים תמצאו גישות שונות להוראתם. גישות אלה פותחו על ידי מ"כורח המציאות"; מן הצורך בשיטות לימוד פשוטות ו"חסכניות" בנושאים מורכבים. הן נוסו בהצלחה בכיתות שונות, ולכן מומלץ לכם ביותר לנסותן. <strong><u>הדרכה בנושאים אלה תינתן לכל דורש</u></strong>. הנכם מוזמנים לפנות אליי.</p>

                <p>אני מאמין שתמצאו באתר זה כלי עזר יעיל לכם ולתלמידיכם, ומקווה בעזרתו להגדיל את מעגל הלומדים שֶיִּרְאוּ בלימוד המתמטיקה אתגר מהנה ולא מאיים.</p>

                <br>

                <p>בברכת לימוד עצמאי מאתגר,</p>

                <p>ישראל  הייזלר </p>

            </div>

        </div>
    </div>

    <object data="footer.html" height="50px" width="100%"></object>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/shoppingCart.js"></script>
    <script src="../js/search.js"></script>
</body>
</html>