<!DOCTYPE html>
<html>
<head>
    <title>Footer</title>
    <link rel="stylesheet" type="text/css" href="../css/footer.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/fontawesome/css/all.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <footer>

        <!-- <div id="contactDetails">
            <i class="far fa-2x fa-envelope container float-right" id="envelopeSymbol"><p><a href="mailto:haizlermath@gmail.com">haizlermath@gmail.com</a></p></i>
            <i class="fas fa-2x fa-phone-square container float-right" id="phoneSymbol"><p>050-6666031</p></i>
        </div> -->

        <div id="envelopeSymbol">
            <i class="far fa-2x fa-envelope container float-right"><p><a href="mailto:haizlermath@gmail.com">haizlermath@gmail.com</a></p></i>
        </div>
        <div id="phoneSymbol">
            <i class="fas fa-2x fa-phone-square container float-right"><p>050-6666031</p></i>
        </div>

        <div id="copyRight">
            <i class="far fa-copyright"><p>כל הזכויות שמורות לישראל הייזלר 2018</p></i>
        </div>

    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>
